/*********************************BODY******************/
* {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

/*-- HEADER */
header {
  background-color: #ffbe0b;
  height: 65px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

header img {
  width: 500px;
  margin-top: 10px;
}

/*****NAVIGATON ****/

.navigation {
  background-color: #084ab4;
  overflow: hidden;
  display: flex;
  justify-content: center;
  height: 40px;
}

.navigation a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 3px 10px;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  width: 300px;
}

.navigation a:hover {
  color: #ffbe0b;
}

.icon {
  width: 30px;
  height: 30px;
}

/*******MAIN******/
main {
  background-image: url(pic/fondoPokebola.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  /*fácil adaptación*/
  align-items: center;
  /*alineamiento vertical*/
  flex-direction: column;
  /*ordena contenido de arriba hacia abajo*/
}

/*******BUSCADOR GENERAL*******/
.textSearch {
  color: white;
  font-size: 25px;
  text-align: center;
  padding-top: 25px;
  margin-bottom: 20px;
  letter-spacing: 0.5px;
  /*separa letras*/

}

.inputGeneralSearch {
  height: 40px;
  width: 300px;
  border-radius: 20px;
  font-size: 20px;
  text-align: center;
  margin-left: 40px;
  font-style: oblique;
  border: none;
  outline-color: #ffbe0b;
}

::placeholder {
  text-align: center;
  font-size: 15px;
  font-style: normal;
}

#buttonGeneralSearch {
  color: black;
  background: #ffbe0b;
  border-color: #ffbe0b;
  border-radius: 10px;
  border: none;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

#buttonGeneralSearch:hover {
  background: rgb(247, 83, 7);
}

.iconGeneralSearch {
  width: 25px;
  height: 25px;
  background-color: #ffbe0b;
}

.iconGeneralSearch:hover {
  background: rgb(247, 83, 7);
}

/**********BUSQUEDA AVANZADA*********/
.generalAdvancedSearch h1 {
  text-align: center;
  font-size: 25px;
  padding: 25px 0px 20px 0px;
  color: white;
  font-weight: bold;
  letter-spacing: 0.5px;
  /*separa letras*/
}

.generalAdvancedSearchList li {
  list-style: none;
  float: left;
  padding: 10px 40px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  margin-right: 50px;
}

.generalAdvancedSearchList li:hover {
  background-color: rgb(247, 83, 7);
  /*background-color:#da0808da*/
  /*rojo*/
  border-radius: 50px;
}

.advancedSearchList {
  width: 130px;
  margin-left: 20px;
  height: 25px;
  border-radius: 10px;
  text-align: center;
  background-color: #ffbe0b;
  border: none;
  font-size: 15px;
}

/******Seccion de todos los pokemones******/

#displayAllPokemons h1 {
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 30px;
  padding-top: 30px;
  letter-spacing: 1px;
  /*separa letras*/

}

/*****CARDS******/
.cardSection {
  /*width: 100%;*/
  /*overflow: scroll;*/
  padding: 20px;
  position: relative;
  /*para que los sig se posicionen en funcion a este*/
  margin-left: 120px;
}

#card {
  white-space: normal;
  /*nowrap: horiznt, normal:organiza debajo, pre: +ordenado, va hacia abajo*/
  margin: 15px 15px;
  /*arriba/abajo  y laterales*/
  padding-bottom: 5px;
  /*para que no se recorte la img*/
}

.pokemonCard {
  background: linear-gradient(#ffffff, #848485);
  width: 165px;
  height: 200px;
  border-radius: 20px;
  overflow: hidden;
  margin: 15px;
  display: inline-block;
  /*para que NO se junten uno debajo del otro, sino al lado*/
  cursor: pointer;
  transition: 450ms all;
  /*transform-origin: center left; /*para que no se distorcione, y vaya de izq a der*/
}

/*
.pokemonCard:hover~.pokemonCard {
  /*~ veriguliña, para dar opacidad al resto y enfocar a pokCard*/
/*transform: translate3d(10px, 0s, 0);
/*cards se desplazaron hacia la derecha --> x (3d (x,y,z)*/
/*}*/

#card:hover .pokemonCard {
  /*cuando no se enfoca a una imagen*/
  opacity: 0.5;
}

#card:hover .pokemonCard:hover {
  /*cuando se enfoca a una imagen*/
  transform: scale(1.3);
  /*incrementa el tamaño en 30% */
  opacity: 1;
  /*para que se muestre clara la imagen, sin opacidad = 1*/
}

.pokemonNumber {
  font-size: 15px;
  font-weight: bold;
  margin-top: 10px;
  margin-left: 20px;
}

.pokemonPic {
  width: 120px;
  height: 120px;
  margin-top: 0px;
  margin-left: 20px;
  /*para centrear la imagen*/
  /*object-fit:contain;*/
}

.pokemonName {
  font-size: 15px;
  text-align: center;
  font-weight: bold;
  margin-top: 0px;
}

/**********************BOTON BACK********************/
.bottonBack {
  background-color: #da0808da;
  border-radius: 12px;
  border: none;
  height: 35px;
  width: 65px;
  color: white;
  font-size: 15px;
  padding: 10px;
  margin: 5px;
  cursor: pointer;
}

.bottonBack:hover {
  background: #ffbe0b;
  color: black;
}

/**********************FOOTER********************/
footer {
  background-color: #da0808da;
  display: flex;
  padding-top: 5px;
  padding-bottom: 5px;
  height: 40px;
  /*justify-content: center; /*alineamiento horizontal*/
  color: white;
  font-size: 12px;
}

.footerList i {
  padding: 3px 10px;
  font-size: 25px;
  float: left;
  color: black;
}

.footerList p {
  list-style: none;
  float: right;
  padding: 5px 0px 0px 450px;
  /***con padding  5px 0px 0px 400px, genera espacioen blanco*/
}
